<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/base_style.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>TalentHarbor</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="container">
            <p>&copy; 2024 TalentHarbor</p>
        </div>
    </footer>
</body>

</html>
