{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="static/css/create_order_style.css">
<div class="container">
    <h1>{{ title2 }}</h1>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.order_title.label }}<br>
        {{ form.order_title(class="form-control", readonly=form.readonly) }}<br>
        {% for error in form.order_title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}
        {{ form.description(class="form-control" ) }}<br>
        {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>

{% endblock %}