{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/css/orders_style.css">
    <div class="card">
      <div class="card-header">
        Рекомендуемые
      </div>
      <div class="card-body">
        <h5 class="card-title">Особое обращение с заголовком</h5>
        <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Рекомендуемые
      </div>
      <div class="card-body">
        <h5 class="card-title">Особое обращение с заголовком</h5>
        <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
      </div>
    </div>

{% endblock %}