{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/css/profile_style.css">
<div class="main">
    <div class='column-1'>
        <h1>Ваш профиль:</h1>
        <div class="profile_image">
            <img src="{{ url_for('static', filename=data.image) }}" alt="" width="300" height="300">
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="formFile" class="form-label">Измените фото вашего профиля</label>
              <input class="form-control" type="file" id="formFile" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Изменить</button>
        <form>
    </div>
    <div class='column-2'>
        <div class="prof_info">
            <h2 style="margin-bottom: 20px;">Имя: {{ data.name }}</h2>
            <h2 style="margin-bottom: 20px;">Фамилия: {{ data.surname }}</h2>
            <h2 style="margin-bottom: 20px;">Номер телефона: {{ data.phone_number }}</h2>
            <h2 style="margin-bottom: 20px;">Электронная почта: {{ data.email }}</h2>
            <a class="btn btn-danger btn-lg" href="/logout">Выйти</a>
        </div>
    </div>
    <div class='column-3'>
        <h2>Рейтинг</h2>
        <div class='rating'>
            <div id="circle">{{ rating }}</div>
            {% set full_stars = rating | round(0, 'floor') | int %}
            {% if rating % 1 == 0.5 %}
                {% set full_stars = full_stars + 1 %}
            {% endif %}
            {% set empty_stars = 5 - full_stars %}

            {% for i in range(full_stars) %}
                <div class="star"></div>
            {% endfor %}

            {% for i in range(empty_stars) %}
                <div class="star-grey"></div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}