{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/css/profile_style.css">
<div class="main">
    <div class='column-1'>
        <h1>Ваш профиль:</h1>
        <div class="profile_image">
            {% if current_user.image_data %}
            <img src="static/images/res.png" alt="" width='300' height="300">
            {% else %}
            <img src="static/images/profile.png" alt="" width='300' height="300">
            {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="formFile" class="form-label">Измените фото вашего профиля</label>
              <input class="form-control" type="file" id="formFile" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Изменить</button>
        <form>
    </div>
    <div class='column-2'>
        <div class="prof_info">
            <h2 style="margin-bottom: 20px;">Имя: {{ data.name }}</h2>
            <h2 style="margin-bottom: 20px;">Фамилия: {{ data.surname }}</h2>
            <h2 style="margin-bottom: 20px;">Номер телефона: {{ data.phone_number }}</h2>
            <h2 style="margin-bottom: 20px;">Электронная почта: {{ data.email }}</h2>
            <a class="btn btn-danger btn-lg" href="/logout">Выйти</a>
        </div>
    </div>

</div>

{% endblock %}